 <div>
      
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1> ! Bienvenido¡</h1>
            

					<div id="clearance" class="sign-in">
					  <h2><%= t(".title") %></h2>
					
					  <%= render partial: '/sessions/form' %>
					
					</div>

                <div>
                  <h1><i class="fa-user"></i> SaaS</h1>
                  <p>©2017 All Rights Reserved. Citas Medicas. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
