<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Citas Medicas | Login</title>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
</head>

<body class="login">
    <div>
      
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1> ! Bienvenido ¡</h1>
              <%= yield %>
                <div>
                  <h1><i class="fa fa-paw"></i> SaaS</h1>
                  <p>©2017 All Rights Reserved. Citas Medicas. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>

</html>
